[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html,body {
    height: 100%;
    width: 100%;
    min-width: 500px;
    min-height: 720px;
    cursor: default;
    font-family: 'Raleway', sans-serif;
}
a:hover, a:active, a:focus {
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}
input[readonly] {
    cursor: not-allowed;
    opacity: 0.3;
    background-color: #DCDCDC;
    transition: all linear 0.5s;
}
option {
    cursor: default;
}
a {
    color: #A9A9A9;
}
a:hover {
    color: #66CDAA;
}
h1 {
    /*color: #66CDAA;*/
    text-shadow: 2px 2px #DCDCDC;
}
.sub-heading {
    
}

/*
.font-oswald {
    font-family: 'Oswald', sans-serif;
}
*/
.font-nunito{
    font-family: 'Nunito', sans-serif;
}
.font-raleway{
    font-family: 'Raleway', sans-serif;
}
.font-mont{
    font-family: 'Montserrat', sans-serif;
}

.loader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:993;
    background:url(../data/loader.gif) 50% 50% no-repeat #f9f9f9;
}
.toast{
    display:none;
    width:250px;
    height:auto;
    position:fixed;
    top: 75%;
    left: 50%;
    margin-left: -130px;
    background-color:rgba(192,192,192,1.0);
    z-index: 999;
    color:#FFFFFF;
    padding:9px;
    text-align:center;
    border-radius:6px;
    -webkit-box-shadow:0 0 10px -1px rgba(56,56,56,1);
    -moz-box-shadow:0 0 10px -1px rgba(56,56,56,1);
    box-shadow:0 0 10px -1px rgba(56,56,56,1)
}


.trans{
    transition: all linear 0.5s;
}
.timerSection{
    margin-bottom: 50px;
}


.delete-timer {
    color: #000;
    background-color: #FFFAFA;
    position: relative;
    font-variant-caps: all-petite-caps;

    /*    trial*/
    float:left;
    right: -15px;
}
.delete-timer:hover{
    color: #B22222;
}
.timerContainer {
    display:inline-block;
    width: 150px;
    border: 1px solid #DCDCDC;
    margin: 10px;
    
    /*    trial*/
    float:left;
    position: relative;
    left: 40px;
    min-height: 55px;
}
.timerName {
    position: relative;
    width: 230px;
    font-weight:600;
    float: left;
    display: block;
    
    /*    trial*/
    clear: left;
    padding-top: 25px;
    
}
.timerName-container {
    background-color: firebrick;
    color: #FFF;
    
}

.timerTitle {
    /*font-size: 1.2em;
    font-style: oblique;
    font-variant-caps: all-petite-caps;*/
    

}
.timerValues {
    
}


.timer-button{
    margin-top: 21px;
}
.startTimer {
    opacity: 1;
}

.stopTimer {
    opacity: 0.9;
}
.round-button {
	width:25%;
    position:absolute;
    left:50%;
    margin-left:-13%;
    padding-top: 30px;
    
    /*    trial*/
    transition: all linear 0.5s;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background-color: #B22222;
    box-shadow: 0 0 3px gray;
    
/*    trial*/
    transition: all linear 0.5s;
}
.round-button-circle:hover {
	background:#8B0000;
    box-shadow: 0 0 10px gray;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    left:0;
    margin-left:0;
	text-align:center;
	color:#FFFFFF;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}


.round-button-stop {
	width:25%;
    position:absolute;
    left:50%;
    margin-left:-13%;
    padding-top: 30px;
    
    /*    trial*/
    transition: all linear 0.5s;
}
.round-button-circle-stop {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background-color: #66CDAA;
    box-shadow: 0 0 3px gray;
    
    /*    trial*/
    transition: all linear 0.5s;
}
.round-button-circle-stop:hover {
	background:#329a77;
    box-shadow: 0 0 10px gray;
}
.round-button-stop a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    left:0;
    margin-left:0;
	text-align:center;
	color:#000;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

/* ID BASED */


.btn:focus,.btn:active {
   outline: none !important;
}
.btn {
    margin-bottom: 7px;
    transition: all linear 0.5s;
}
.btn-reset {
    right:46px;
    position:relative;
    font-size:small;
    border: 0;
    background-color: #66CDAA;
    color: #FFF;
}
.btn-reset:hover {
    background-color: #EC971F;
    color: #FFF;
}
.btn-reset-disabled, .btn-reset-disabled:hover {
    right:46px;
    position:relative;
    font-size:small;
    border: 0;
    background-color: #D3D3D3;
    color: #FFF;
}
.btn-warning {
    background-color: #66CDAA;
    color: #FFF;
    border: 1px solid #66CDAA;
    position:relative;
    left: 30px;
}
.btn-warning-disabled, .btn-warning-disabled:hover {
    background-color: #D3D3D3;
    color: #FFF;
    position:relative;
    left: 30px;
}


.input-lg {
    width: 264px;
    transition: all linear 0.5s;
}
.input-lg:focus, .input-lg:active {
    outline: none !important;
}

.instructions {
    padding-top: 35px;
    max-width: 700px;
    font-size: 1.2em;
}
.instructions-header {
    
    margin-bottom: 20px;
}
.list-instructions {
    display: inline-block;
    
}

.list-instructions li {
    padding: 0 0 20px 0;
}



.tabList {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}
/*.nav-tabs > li.active > a{
}*/
.active{
    color: #66CDAA !important;
    text-decoration: overline;
    text-shadow: 1px 1px #FFF8DC;
}
.tabAnchor {
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
    transition: all linear 0.3s;
}
.onePanel {
    margin-top: 60px;
    margin-bottom: 80px;
    min-height: 350px;
}