[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html,body {
    height: 100%;
    width: 100%;
    min-width: 500px;
    min-height: 720px;
    cursor: default;
    font-family: 'Raleway', sans-serif;
}
a:hover, a:active, a:focus {
    outline: 0;
    cursor: pointer;
    text-decoration: none;
}
input[readonly] {
    cursor: not-allowed;
    opacity: 0.3;
    background-color: #DCDCDC;
}
option {
    cursor: default;
}
a {
    color: #A9A9A9;
}
a:hover {
    color: #66CDAA;
}
h1 {
    color: #66CDAA;
}


.font-oswald {
    font-family: 'Oswald', sans-serif;
}
.font-raleway{
    font-family: 'Raleway', sans-serif;
}
.font-mont{
    font-family: 'Montserrat', sans-serif;
}

.loader {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    z-index:993;
    background:url(../data/loader.gif) 50% 50% no-repeat #f9f9f9;
}
.toast{
    display:none;
    width:250px;
    height:auto;
    position:fixed;
    top: 75%;
    left: 50%;
    margin-left: -130px;
    background-color:rgba(192,192,192,1.0);
    z-index: 999;
    color:#FFFFFF;
    padding:9px;
    text-align:center;
    border-radius:6px;
    -webkit-box-shadow:0 0 10px -1px rgba(56,56,56,1);
    -moz-box-shadow:0 0 10px -1px rgba(56,56,56,1);
    box-shadow:0 0 10px -1px rgba(56,56,56,1)
}


.timerContainer {
    display: inline-block;
    width: 150px;
    border: 1px solid black;
    margin: 10px;
}
.timerName {
    display: block;
    font-weight: bolder;
}
.timerTitle {
    font-size: 1.2em;
    font-style: oblique;
    font-variant-caps: all-petite-caps;
}
.timerValues {
    
}
.startTimer {
    opacity: 1;
/*    transition: visibility 0s, opacity 0.5s linear;*/
}

.stopTimer {
    opacity: 0.9;
/*    transition: visibility 0s, opacity 0.5s linear;*/
}



.round-button {
	width:25%;
    position:absolute;
    left:50%;
    margin-left:-13%;
    padding-top: 30px;
}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background-color: #66CDAA;
    box-shadow: 0 0 3px gray;
}
.round-button-circle:hover {
	background:#329a77;
    box-shadow: 0 0 10px gray;
}
.round-button a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    left:0;
    margin-left:0;
	text-align:center;
	color:#FFFFFF;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}


.round-button-stop {
	width:25%;
    position:absolute;
    left:50%;
    margin-left:-13%;
    padding-top: 30px;
}
.round-button-circle-stop {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background-color: #B22222;
    box-shadow: 0 0 3px gray;
}
.round-button-circle-stop:hover {
	background:#8B0000;
    box-shadow: 0 0 10px gray;
}
.round-button-stop a {
    display:block;
	float:left;
	width:100%;
	padding-top:50%;
    padding-bottom:50%;
	line-height:1em;
	margin-top:-0.5em;
    left:0;
    margin-left:0;
	text-align:center;
	color:#FFFFFF;
    font-family:Verdana;
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
}

/* ID BASED */
/*#div_outerData{
    overflow: hidden;
    margin-bottom: 100px;
}
#div_innerData{
    overflow-y: auto;
    padding-right: 20px;
}*/

#div_innerData {
    
}



.btn:focus,.btn:active {
   outline: none !important;
}

.btn {

    
}
.btn-reset {
    right:46px;
    position:relative;
    font-size:small;
    border: 0;
    background-color: #66CDAA;
    color: #FFF;
}
.btn-reset:hover {
    background-color: #EC971F;
    color: #FFF;
}
.btn-reset-disabled, .btn-reset-disabled:hover {
    right:46px;
    position:relative;
    font-size:small;
    border: 0;
    background-color: #D3D3D3;
    color: #FFF;
}
.btn-warning {
    background-color: #66CDAA;
    color: #FFF;
    border: 1px solid #66CDAA;
    position:relative;
    left: 30px;
}
.btn-warning-disabled, .btn-warning-disabled:hover {
    background-color: #D3D3D3;
    color: #FFF;
    position:relative;
    left: 30px;
}


.input-lg {
    width: 230px;
}
.input-lg:focus, .input-lg:active {
    outline: none !important;
}


.tabList {
    width: 50%;
    font-family: 'Montserrat', sans-serif;
}
/*.nav-tabs > li.active > a{
}*/
.active{
    color: #66CDAA !important;
    text-decoration: overline;
    text-shadow: 1px 1px #FFF8DC;
}
.tabAnchor {
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
}
