<!DOCTYPE html>
<html lang="en-US" ng-app="timerApp">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="pragaas" />
	<title>Tevoted - Online Time Management Tool</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="css/custom.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<!--<body>-->
<body class="ng-cloak">
    <span id="sp_toast"></span>
    <div id="div_loader"></div>
    <div class="container text-center" ng-controller="MainCtrl">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="">
                    <h1>TEVOTED</h1>
                    <p>Online Time Management Tool</p>
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs">
                    <li ng-class="{ active: isSet(1) }" ng-click="setTab(1)" class="tabList">
                        <a href class="tabAnchor font-oswald">TIMER</a>
                    </li>
                    <li ng-class="{ active: isSet(2) }" ng-click="setTab(2)" class="tabList">
                        <a href  class="tabAnchor font-raleway">DATA</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                    <div ng-show="isSet(1)">
                        <div>
                            <br/><br/>
                            <div id="div_reset">
                                <a ng-click="btnResetClick()">RESET</a>
                            </div>
                            <input id="inp_dispName" maxlength="25" class="input-lg" ng-keypress="inpKeyPress($event)" type="text" list="timerNames" name="inp_displName" ng-model="currentTimer" data-toggle="hover" data-trigger="hover" placeholder="Give timer a name"/>
                            <datalist id="timerNames">
                                <select ng-repeat="data in timerData | orderBy: 'timerName'">
                                    <option value="{{data.timerName}}">{{data.timerName}}</option>
                                </select>
                            </datalist>
                            <button id="btn_select" class="btn btn-info" type="button" ng-click="btnSelectClick()">SELECT</button>
                            <br/><br/>
                            <div class="round-button" ng-class="dynClass" ng-click="btnTimerClick()" ng-show="enTimer">
                                <div class="round-button-circle">
                                <a href="" class="round-button">{{timerAction}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="div_outerData" ng-show="isSet(2)">
                        <div id="div_innerData" ng-show="ifData()">
                            <br/><br/>
                            <div ng-repeat="timers in timerData | orderBy: 'timerName'">
                                <div ng-show="timers.pastData | nonEmpty">
                                <span class="timerName">{{ timers.timerName | uppercase }}</span>
                                <span ng-repeat="(key,value) in timers.pastData" >
                                    <span class="timerContainer">
                                        <span class="timerTitle">{{ key }}</span>
                                        <br/>
                                        <span class="timerValues">
                                            <span ng-if="value | splitTime:',':0 | nonZero">{{value | splitTime:',':0 }} H, </span>
                                            <span ng-if="value | splitTime:',':1 | nonZero">{{value | splitTime:',':1 }} M, </span>
                                            <span ng-if="value | splitTime:',':2 | nonZero">{{value | splitTime:',':2 }} S</span>
                                        </span>
                                    </span>
                                    <span ng-click="btnDeleteClick(timers.timerName,key,value)"><a href="" class="delete-timer">del</a></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <span ng-show="!ifData()"> NO DATA </span>
                    </div>
            </div>
        </div> <!-- row tabs-->
    </div> <!-- container -->
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>-->
    <script type="text/javascript" src="js/custom.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>
</html>