<div class="modal-header  text-center">
		<h1>Delete Runs</h1>
</div>
<div class="modal-body">
	<div class="row run-save-modal">
		<div class="col-xs-12 text-center no-margin-bottom">
			<div class="row">
				<div class="col-xs-12">
					<h5>Which runs would you like to delete?</h5>
					<div class="row">
						<div ng-repeat="runTimelines in runGroup" class="col-xs-6 no-margin-bottom">
							<div class="checkbox3 checkbox-inline checkbox-check">
			          <input type="checkbox" id="run-{{runTimelines[runTimelines.length - 1].runId}}" 
			          	ng-model="toggle.runsToDelete[runTimelines[runTimelines.length - 1].runId]"
									ng-value="true">
			          <label for="run-{{runTimelines[runTimelines.length - 1].runId}}">
			            {{runTimelines[runTimelines.length - 1].runId}}
			          </label>
			        </div>
						</div>
					</div>
					{{toggle.runsToDelete}}

				</div>

				<div class="col-xs-12">
					<h5>When do you want these changes to take effect?</h5>
			    <div class="btn-group btn-group-justified" role="group">
						<a class="btn" ng-class="toggle.deleteWhen == 'now' ? 'btn-info' : 'btn-default'" ng-click="toggleDelete('now')">
							<i class="fa fa-check"></i> Now
						</a>
						<a class="btn" ng-class="toggle.deleteWhen == 'later' ? 'btn-info' : 'btn-default'" ng-click="toggleDelete('later')">
							<i class="fa fa-check"></i> Later
						</a>
					</div>
				</div>
				<div uib-collapse="toggle.deleteWhen == 'now'" class="col-xs-12">
					<h5>Ok then, when do you want the deletion to happen?</h5>
					<ddatetimepicker ng-model="toggle.deleteRunsAt"></ddatetimepicker>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="btn btn-danger btn-lg" ng-disabled="deleteRunIsDisabled()" style="width: 100%;" ng-click="deleteRunIsDisabled() || deleteRuns()">Delete Runs</div>
				</div>
			</div>
		</div>
	</div>
</div>